<div class = "container vh-100 py-5 mb-5">
  <button class="btn text-white m-3" style="background-color:#28CCED" onclick="history.back()">Go Back</button>
  <h4 class= "text-center mb-5">Updating my booking for <%= @material.name %> </h4>

    <div class="book bg-white shadow" >
      <%= simple_form_for ([@material, @booking]) do |f| %>
      <%= f.input :start_date, as: :date, html5: true%>
      <%= f.input :end_date, as: :date, html5: true%>
      <%= f.submit class: 'btn', style: 'background-color:#28CCED;color:white' %>
      <% end %>
    </div>
</div>

