<button class="btn text-white m-3" style="background-color:#28CCED" onclick="history.back()">Go Back</button>
<h4>Updating my booking for <%= @material.name %> </h4>
<%= simple_form_for ([@material, @booking]) do |f| %>
  <%= f.input :start_date, as: :date, html5: true%>
  <%= f.input :end_date, as: :date, html5: true%>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>
