<h3>Create a new booking</h3>

<h4>Making a booking for <%= @material.name %> </h4>
<%= simple_form_for ([@material, @booking]) do |f| %>
  <%= f.input :start_date, as: :date, html5: true%>
  <%= f.input :end_date, as: :date, html5: true%>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>
