<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dvp1v2dej/image/upload/v1665595151/aquarent/banner_tja4uj.jpg);">
  <div class="container">
    <h1 class="mb-2" >Category <%= @category.name %></h1>
    <%= form_with url: category_path(@category), method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your equipment"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
    <small class="text-white" ><%= @category.materials.count %> equipment available</small>
  </div>
</div>

<%# taken from ui kit le wagon %>
<%# It will do a loop on the information from the material table %>

<div class="container py-4 mb-4">
  <div class="row my-2">
    <% @materials.each do |material| %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <%= cl_image_tag material.photo.key, class: "movie-img rounded-top", crop: :fill %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <h5 class="text-muted font-weight-normal"><strong>Material:</strong>  <%= material.name %></h5>
            <h5 class="text-muted font-weight-normal"><strong>Price:</strong> Rs <%= material.price.to_i %></h5>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <small class="text-right flex-shrink-0"><%= link_to "Book Now", new_material_booking_path(material), class: 'links' %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
